# This file created for podman-systemd.unit (quadlet)
# https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html

[Unit]
Description=Tailscaled container
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=tailscaled

Image=docker.io/tailscale/tailscale

Pull=newer

AutoUpdate=registry

Label=hide=true

Timezone=local

DropCapability=

AddCapability=NET_ADMIN NET_RAW

Environment=TS_AUTHKEY=tskey-auth-yoursecretkey
Environment=TS_USERSPACE=true
Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_SOCKET=/var/run/tailscale/tailscaled.sock

Network=host

Volume=tailscale:/var/lib/tailscale
Volume=/lib/modules:/lib/modules:ro

AddDevice=/dev/net/tun

[Service]
Restart=on-failure
# Restart=no

[Install]
WantedBy=multi-user.target default.target